@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

main {
  margin-bottom: auto;
  padding-top: 80px;
  height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

nav a.router-link-exact-active {
  border-bottom: 0.1rem solid #e11d48;
  padding: 0.2rem;
}
